@model DataAccess.EntityFramework.article

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var commentModel = ViewBag.CommentModel as DataAccess.EntityFramework.comment;
}

@section ClientScript1{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).mouseup(function (e) {
                var container = $(".top-bar__search");

                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    container.hide();
                }
            });

            window.onload = function () {
                $('.content-post__img').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    dots: true,
                    arrows: true,
                    infinite: true,
                    slidesToShow: 1,
                    adaptiveHeight: true,
                    autoplay: true,
                    autoplaySpeed: 2000,
                });
            };

        });
    </script>
    }


<div class="mc-post">
    <div class="mcp__large-post">
        <div>
            <div class="mcp__lp-title">
                <div class="lp-date">
                    <div>@(Model.create_time.HasValue?Model.create_time.Value.ToString("dd") : "")</div>
                    <span>@(Model.create_time.HasValue?Model.create_time.Value.ToString("MM") : "")</span>
                </div>
                <div class="lp-title">
                    <div>
                        <span>by</span>
                        <span>Huy Hoàng</span>
                        <span>/</span>
                        <span>Breaking news</span>
                    </div>
                    <a href="single-post1.html">
                        <div>
                            @Html.Raw(Model.title)
                        </div>
                    </a>
                    <div class="post-wishh">
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
            <div class="content-post">
                @Html.Raw(Model.textbody)
            </div>
            <div class="tag-share">
                @*<div class="ts-tag">
                    <span>Tag:</span>
                    <div>Thinkpad</div>
                    <div>Videos</div>
                    <div>Reviews</div>
                </div>*@
                <div class="ts-share">
                    <span>Share:</span>
                    <i class="fab fa-facebook-f"><a href=""></a></i>
                    <i class="fab fa-twitter"><a href=""></a></i>
                    <i class="fab fa-instagram"><a href=""></a></i>
                    <i class="fab fa-youtube"><a href=""></a></i>
                </div>
            </div>
            @using (Html.BeginForm("Comment", "HomePage", new { articleId = Model.article_id }, FormMethod.Post, new { @class = "comment-form", onsubmit = "return checkLogin();" }))
            {
                <div class="comments">
                    <div class="list-input-sp">
                        @Html.HiddenFor(m => m.article_id)
                        @Html.TextArea("commentContent", null, new { @class = "comment-textarea", placeholder = "Write your comment", oninput = "checkTextArea();" })
                        @if (!string.IsNullOrEmpty(ViewBag.CommentContentError))
                        {
                            <p class="error-message">@ViewBag.CommentContentError</p>
                        }
                    </div>
                    <div class="btn-sb-cmtt" style="float:right">
                        <input id="btn-sb-cmt" style="font-size:15px" type="submit" value="Submit" class="comment-submit-btn" disabled>
                    </div>
                </div>
            }
            <div style="margin-top:70px">
                @if (ViewBag.Comments != null)
                {
                    <h3 class="comments-heading">Comments:</h3>
                    <ul class="comments-list">
                        @foreach (var comment in ViewBag.Comments)
                        {
                            <li class="comment-item">
                                <span class="comment-author">@comment.Account.full_name :</span>
                                <span class="comment-time">@comment.create_time</span>
                                <br>
                                <span class="comment-content">@comment.cmt_cotnent</span>
                                <br>
                                <br>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
<style>
    .comment-form {
        margin-top: 20px;
    }

    .comment-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .comment-textarea {
        width: 100%;
        height: 100px;
        padding: 5px;
        border-radius : 7px;
    }

    .comment-submit-btn {
        background-color: #337ab7;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius:6px;
        margin-top:3px;
    }

        .comment-submit-btn:hover {
            background-color: #23527c;
        }

    .comments-heading {
        font-size: 20px;
        color: #000;
        margin-bottom: 10px;
    }

    .comments-list {
        list-style-type: none;
        padding: 0;
    }

    .comment-item {
        margin-bottom: 10px;
    }

    .comment-author {
        font-weight: bold;
        font-size:24px
    }

    .comment-time {
        margin-left: 5px;
        font-size: 12px;
    }

    .comment-content {
        font-size: 16px;
    }
</style>
<script>
    function checkTextArea() {
        var commentContent = document.getElementById("commentContent").value;
        var submitButton = document.getElementById("btn-sb-cmt");

        if (commentContent.trim() !== "") {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
    }
</script>


