@model  IEnumerable<DataAccess.EntityFramework.account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}


<!-- Begin Page Content -->
<div class="container-fluid admin-artcles">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Users</h1>
    <p class="mb-4">
        List of all users
    </p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Articles</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Control</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Control</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.user_id">
                                <td><div>@item.user_id</div></td>
                                <td><div>@item.usename</div></td>
                                <td><div>@item.full_name</div></td>
                                <td>
                                    <div>
                                        <a href="@Url.Action("Delete","ManageUser", new { id = item.user_id })" onclick="return confirm('Xác nhận xóa tài khoản có id: \" ' + @item.user_id + ' \"?')">
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
